.chat-component{
    width: 100%;
    height: 100%;
    display: flex;
    .user-div{
        width: 28%;
        height: 100%;
        // padding: 0px 0px 20px 0;
        .search-wrapper{
            width: 100%;
            padding: 20px 30px 10px 0;
            box-shadow: 0 0px 20px #F5F5F5;
            background-color: #F5F5F5;
        }
        .user-wrapper{
            width: 100%;
            overflow-y: scroll;
            padding-top:  25px;
            padding-right: 4px;
            height: calc(100% - 64px);
            
        }
        .search-user{
            width: 100%;
           
            border-radius: 6px;
           
            padding: 5px 15px;
            background-color: #E4E4E4;
            input{
                width: 100%;
                font-size: 13px;
                color: black;
                background-color: transparent;
                outline: none;
                border: none;
            }
        }
        
           
            .leftBrdr{
                width: 3px;
                height: 22px;
            }
            .user{
                width: 100%;
            display: flex;
            padding: 12.5px 0;
            display: flex;
            margin-bottom: 15px;
            cursor: pointer;
            background-color: white;
            border-radius: 6px;
           
                .name-display-div{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: fit-content;
                }
                .user-chat-div{
                    width: calc(100% - 55px);
                    padding-right: 15px;
                    h5{
                        font-size: 16px;
                        color: black;
                        margin-bottom: 0px;
                        font-weight: 500;
                    }
                    p{
                        font-size: 11px;
                        color: #595959;
                        margin-bottom: 0;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
            .user:hover,.user.active{
                -webkit-box-shadow: 0 10px 8px -6px #6C7075;
                -moz-box-shadow: 0 10px 8px -6px #6C7075;
                box-shadow: 0 10px 8px -6px #6C7075;
                transform: translateY(-5px);
                transition: all 0.25s;
            }
            
    
    }
    .name-div{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        color: white;
        font-size: 16px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        margin:0 10px;
        position: relative;
        span{
            background-color: #EC6060;
            color: white;
            width: 15px;
            height: 15px;
            position: absolute;
            right: -5px;
            top: -5px;
            border-radius: 50%;
            font-size: 10px;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .chat-area{
        width: 72%;
        height: 100%;
        padding-top: 20px;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        .user-detail{
            display: flex;
            align-items: center;
            padding-bottom: 13px;
            border-bottom: 1.7px solid #E2E2E2;
            h5{
                font-size: 16px;
                color: black;
                margin-bottom: 0px;
                font-weight: 500;
                margin-right: 20px;
            }
            .icons>i{
    
                margin: 0px 10px 0px 0px;
                font-size: 13px;
                cursor: pointer;
            }
            .agentTakeover{
                margin-left: auto;
                padding: 12px 16px;
                height: 30px;
                font-size: 14px;
                font-weight: 500;
                align-self: center;
                display: flex;
                align-items: center;
                color: #0050B3;
                background-color: white;
                border-radius: 10px;
                input{
                    height: 16px;
                    width: 16px;
                    margin-left: 10px;
                    cursor: pointer;
                }
            }
        }
        .chats{
            width: 100%;
            // height: calc(100% - 45px);
            margin-top: auto;
            overflow-y: scroll;
            padding-right: 5px;
            .chat-filler{
                min-height: 2px;
                margin-top: auto;
            }
            .date-show{
                margin: 0 auto;
                
                display: flex;
                align-items: center;
                justify-content: center;
                
                margin-bottom: 10px;
                position: sticky;
                top: 0;
                h5{
                    font-size: 13px;
                    color: #827E7E;
                    font-weight: 500;
                    background-color: #EEEEEE;
                    width: fit-content;
                    padding: 8px 20px;
                    min-width: 140px;
                    border-radius: 20px;
                    text-align: center;
                }
            }
            .incomingMsg{
                max-width: 60%;
                width: fit-content;
                padding: 12px 12px 6px 12px;
                background-color: #E5E5E5;
                font-size: 13px;
                border-radius: 0 10px 10px 10px;
                margin: 10px 0;
            }
            .outgoingMsg{
                max-width: 60%;
                width: fit-content;
                padding: 12px 12px 6px 12px;
                background-color: #A1CBFF;
                font-size: 13px;
                border-radius: 10px 0px 10px 10px;
                margin: 10px 0;
                margin-left: auto;
            }
            .seen-info{
               color: #505050;
               width:fit-content;
               display: flex;
               align-items: flex-end;
               font-size: 9px;
               margin-top: 4px;
               font-weight: 500;
               margin-left: auto;
               i{
                font-size: 14px;
                line-height: 1;
                margin-left: 3px;
               }
               .seen{
                color: #0050B3;
               }    
            }
        }
        .input-area{
            width: 100%;
            // height: 65px;
            padding: 10px 0;
            margin-top: 20px;
            display: flex;
            input{
                width: calc(100% - 50px);
                border-radius: 10px 0 0 10px;
                outline: none;
                border: none;
                padding: 10px 20px;
                font-size: 13px;
            }
            .sendBtn{
                width: 50px;
                height: 100%;
                max-height: 50px;
                border-radius: 0 10px 10px 0;
                background-color: #0050B3;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                img{
                    height: 40%;
                }
            }

        }
    }
}

.bx-shadow-0{
    box-shadow: 0 0 5px #CD6CA0;
}
.bg-0{
    background-color: #CD6CA0;
}
.bx-shadow-1{
    box-shadow: 0 0 5px #608AE0;
}
.bg-1{
    background-color: #608AE0;
}
.bx-shadow-2{
    box-shadow: 0 0 5px #65C3B3;
}
.bg-2{
    background-color: #65C3B3;
}
.bx-shadow-3{
    box-shadow: 0 0 5px #6CCD73;
}
.bg-3{
    background-color: #6CCD73;
}
.bx-shadow-4{
    box-shadow: 0 0 5px #CB8831;
}
.bg-4{
    background-color: #CB8831;
}
::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-thumb{
    width: 100%;
    background-color: #E4E4E4;
    border-radius: 4px;
}

.isSticky{
    width: 400px;
    height: 400px;
    background-color: red;
}
.inputDisable{
    pointer-events:none;
    opacity: 0.6;
}