.sidenav{
    width: 100%;
    height: 100%;
    background-color: white;
    overflow-y: scroll;
}
.sidenav::-webkit-scrollbar {
    width: 0;
  }
   
  .sidenav::-webkit-scrollbar-track {
      width: 0;
  }
.profile{
    width: 100%;
    padding: 30px 20px;
    margin: 0 auto;
    position: sticky;
    background-color: white;
    top: 0;
}
.profile .det{
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.pic>img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.det>h1{
    font-size: 1.5rem;
    font-weight: 500;
}
button{
    width: calc(100% - 30px);
    height: 35px;
    border-radius: 30px;
    color: white;
    background-color: #0050B3;
    font-size: 0.8rem;
    font-weight: 500;
    display: block;
    margin: 0 auto;
    margin-top: 35px;
    outline: none;
    border: none;
    cursor: pointer;
}
.nav{
    width: 100%;
    padding: 0px 10px 0px 40px;
    position: relative;
    display: block;
    >div{
        outline: none  !important;
    }
}
.nav h1{
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #CBCBCB;
    font-weight: 600;
    margin: 20px 0 10px  0;
}
.nav .links{
    margin: 10px 0;
    font-size: 0.9rem;
    font-weight: 600;
    color: #343438;
    display: flex;
    align-items: center;
    height: 35px;
    cursor: pointer;
}
.nav .links span{
    padding-left: 1.7rem;
}
.nav .links:link{
    text-decoration: none;
}
.nav .links svg-icon{
    width: 1rem;
    height: 1rem;
    position: fixed;
    z-index: 1000;
    display: flex;
}
.nav .links svg{
    width: 100%;
    height: 100%;
}
.is-nonactive2 svg path{
    stroke: #343438;
    stroke-width: 1px;
}
.is-nonactive svg path{
    fill: #343438;
    stroke-width: 0px;
}
.is-active2 svg path{
    stroke: #0050B3;
    stroke-width: 1px;
}
.is-active svg path{
    fill: #0050B3;
    stroke-width: 0px;
}
.nav  .is-active .links ,.nav .is-active2 .links{
    color: #0050B3;
}
#navDecoration{
    position: absolute;
    left: 0;
    /* background-color: #F5F5F5; */
    border-left: 5px solid #0050B3;
    width: 65px;
    background-image: linear-gradient(to right,  rgba(0,80,179,0.3) , rgba(245,245,245,0.8));
    /* background-color: #0050B3; */
    height: 35px;
    border-radius: 0 20px 20px 0;
    transition: all 0.1s ease;
    /* transition-delay:0s, 0.5s ,1s; */
    /* animation-fill-mode: forwards; */
    transition-timing-function: linear;
}
.training{
    cursor: not-allowed  !important;
    opacity: 0.5;
}
