.App{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #F5F5F5;
  }
  .sideNav{
    width: 220px;
    height: 100%;
    background-color: red;
  }
  .mainContent{
    width: calc(100% - 250px);
    height: 100%;
    background-color: #F5F5F5;
      padding: 20px 25px;
      padding-top: 0;
  }
  .overflow-y{
    overflow-y: scroll;
  }
  .overflow-y::-webkit-scrollbar {
    width: 0;
  }
   
  .overflow-y::-webkit-scrollbar-track {
      width: 0;
  }
  .feedBack{
    width: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .feedText{
    width: 100%;
  }
  .feedText img{
    width: 90%;
    margin-left: 10%;
    cursor: pointer;
  }