.intent{
    width: 100%;
    height: 100%;
}
.rowIntent{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #F5F5F5;
    margin-top: 15px;
}
.intentlist{
    width: 100%;
    padding: 8px;
    // padding-bottom: 14px;
    border-radius: 10px;
    background-color: #FFFFFF;
}
.addResponse{
    width: 48.5%;
    padding: 8px;
    // padding-bottom: 14px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.addResponse h5{
    color: #B6B6B6;
    font-weight: 600;
    font-size: 0.75rem;
}
.addResponse i{
    width: 20px;
    height: 20px;
    background-color: #949494;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.intnm{
    font-size: 12px;
    margin-left: 20px;
}
.icons{
    // width: 100%;
    // display: flex;
    // justify-content: flex-end;
    float: right;

}
.icons>i{
    
    margin: 0px 10px 0px 0px;
    font-size: 13px;
    cursor: pointer;
}

.intentnam{
    // position: relative;
    /* display: flex; */
    /* margin-top: 20px; */
    
}
.lftborder{
    // margin-top: 1.5px;
    float: left;
    transform: translate(-8px,25%);
    left: -8px;
    /* margin-right: 25px; */
    /* margin-left: -8px; */
    width: 3px;
    height: 25px;
    background-color: #666666;
}

small{
    color:#B6B6B6 ;
    // font-size: 0.8rem;
    font-weight: 600;
    // margin-bottom: 4px;
    display: block;
}


.intnm h5{
    font-weight: 700;
    color: #3D3D3D;
    font-size: 0.9rem;
    width: 99%;
}

.close{
    margin-left: auto;
    width: fit-content;
    outline: none;
}
.modal-head{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px;
}
.save-btn{
    margin: 0 auto;
    margin-top: 10px;
}
ng-select{
    border-bottom: 1.2px solid #B6B6B6;
    outline: none;
}
.modal-main-area{
    padding: 20px;
    input{
        outline: none;
        border: none;
        width: 100%;
        margin-bottom: 10px;
        border-bottom: 1.2px solid #B6B6B6;
    }
}
:host ::ng-deep{
    .modal-main-area{
        .ng-dropdown-panel{
           margin-top: 10px;
           background-color: #f5f5f5;
           border: 1.2px solid #B6B6B6;
           border-radius: 4px;
        }
        .ng-value-container{
            padding-left: 0;
        }
    }
    .ng-select .ng-select-container{
        border: none;
        outline: none;
        box-shadow: none  !important;
    }
}
